<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{administrativo/fragments/layout}">
<head>
	<title>Página principal - Teus Store</title>
</head>
<body>
	<section class="layout-content" layout:fragment="corpo">
	
		<nav class="navbar navbar-expand-md bg-light">
			<div class="collapse navbar-collapse" id="navbarsExampleDefault">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
						<i class="oi oi-caret-right"></i>
						<span>Home</span>
					</li>
				</ul>
			</div>
		</nav>
		
		<div class="container">
			<div class="row mb-3">
				<div class="col-sm-12">
					<div class="card">
						<div class="card-body">
							<h5 class="card-title">Produtos</h5>
							<p class="card-text" th:text="${qntprodutos + ' produtos cadastrados.'} "> </p>
							<a href="/relatorio/produtos" class="btn btn-primary">Relatório de produtos</a>
						</div>
					</div>
				</div>
			</div>
			<div class="row mb-3">
				<div class="col-sm-4">
					<div class="card">
						<div class="card-body">
							<h5 class="card-title">Funcionarios</h5>
							<p class="card-text" th:text="${qntfuncionarios + ' funcionarios cadastrados.'}"></p>
							<a href="/relatorio/funcionarios" class="btn btn-primary">Relatório de funcionarios</a>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="card">
						<div class="card-body">
							<h5 class="card-title">Marcas</h5>
							<p class="card-text" th:text="${qntmarcas + ' marcas cadastradas.'}"></p>
							<a href="/administrativo/marcas/listar" class="btn btn-primary">Listar marcas</a>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="card">
						<div class="card-body">
							<h5 class="card-title">Categorias</h5>
							<p class="card-text" th:text="${qntcategorias + ' categorias cadastradas.'}"></p>
							<a href="/administrativo/categorias/listar" class="btn btn-primary">Listar categorias</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>
