<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{cliente/fragments/layout}">
<head>
    <title>Teus Store</title>
</head>
<body>

<!--    <div class="container px-4 px-lg-5 mt-5" layout:fragment="corpo">-->
    <div layout:fragment="corpo">
        <div class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Todos os produtos</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Das melhores marcas</p>
                </div>
            </div>
        </div>
        <div class="container px-4 px-lg-5 mt-5">
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">

                <div class="col mb-5" th:each="produto : ${listaProdutos}">
                    <div class="card h-100">
                        <img class="card-img-top" th:src="@{/mostraImagem/{productid}(productid=${produto.id})}" alt="..." />
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder text-truncate fs-4"><span th:text="${produto.descricao}"></span></h5>
                                <!-- Product price-->
                                <span th:text="${produto.valorVenda}"></span>

                            </div>
                            <a class="btn btn-primary w-100" th:href="@{/adicionarCarrinho/{id}(id=${produto.id})}" role="button">Comprar</a>
                        </div>
                        <!-- Product actions-->
        <!--                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">-->
        <!--                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">View options</a></div>-->
        <!--                            </div>-->
                    </div>
                </div>

            </div>
        </div>
    </div>
</body>
</html>
